---
layout: default
---
<div id="loader">
  <div class="loader-content">
    <h1 id="hello-text">Hello!</h1>
  </div>
</div>

<!-- about.liquid -->
  <div class="post">
    <header class="post-header">
      {% if page.profile -%}
        <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
          {%- if page.profile.image %}
            {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

            {% if page.profile.image_circular %}
              {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
            {% else %}
              {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              <!-- {%- assign profile_image_class = "img-fluid z-depth-1 rounded-square" -%} -->
            {% endif %}

            {% include figure.liquid
            path=profile_image_path
            class=profile_image_class
            alt=page.profile.image 
            zoomable=true -%}
            {% comment %} {% if page.cv_pdf %}<a href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}" target="_blank" rel="noopener noreferrer" class="float-right" style="color: inherit;"><i class="fab fa-wpforms fa-1x"></i><span class="resume-text" style="margin-right: 100px; margin-left: 10px;"><u>Resume/CV</u></span><br></a>{% endif %} {% endcomment %}
          {% endif -%}
        </div>
        {%- endif %}
        <h1 class="post-title">
          {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
        </h1>
        <p class="desc"><b>{{ page.subtitle }}</b></p>
        {%- if page.profile.address %}
          <div class="address">
            {{ page.profile.address }}
          </div>
        {%- endif %}
        {%- if page.social %}
        <div class="social">
          <div class="contact-icons">
            {% include social.liquid %} 
            <!-- <a href="mailto:{{ site.email | encode_email }}" title="email"><i class="fas fa-envelope"></i></a>
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/{{ site.github_username }}" title="GitHub"><i class="fab fa-github"></i></a>
            -->
          </div>
            
          <div class="contact-note">
            <p>Best way to reach me is via email!</p><br><br><br>
          </div>
        </div>
        {%- endif %}
        
    </header>

        <article>
          <div class="clearfix justify-text">
            <p> <br> </p>
            <h2>Hello and welcome!<br> </h2>
            <!-- <p>{{ page.profile.about_me }}</p> -->
            <p>{{ content }}</p>
          </div>

          <!-- Selected papers -->
          <div class="clearfix justify-text">
          {% if page.selected_papers -%}
            <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">Selected publications</a></h2>
            {%- include selected_papers.liquid %}
          {%- endif %}
          </div>

          <!-- Social -->

          <!-- News -->
          <div class="clearfix justify-text">
          {% if page.news and site.announcements.enabled -%}
            <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;">News</a></h2>
            {%- include news.liquid limit=true %}
          {%- endif %}
          </div>

          <!-- Latest posts -->
          {% if page.latest_posts -%}
            <h2><a href="{{ '/blog/' | relative_url }}" style="color: inherit;">Latest posts</a></h2>
            {%- include latest_posts.liquid %}
          {%- endif %}

          
        </article>

        <div class="skills-section">
            <h2>Skills</h2>
            <div class="skill-box">
              <a href="https://www.python.org/">
                <img src="assets/img/skills/python.svg" alt="Python Logo" class="skill-logo">
                <h6>Python</h6>
              </a>
            </div>
          
            <!-- Skill box for PyTorch -->
            <div class="skill-box">
              <a href="https://pytorch.org/">
                <img src="assets/img/skills/pytorch.svg" alt="PyTorch Logo" class="skill-logo">
                <h6>PyTorch</h6>
              </a>
            </div>

            <div class="skill-box">
              
              <img src="assets/img/skills/c-plus-plus-svgrepo-com.svg" alt="C++ Logo" class="skill-logo">
              <h6>C++</h6>
            </div>
        
            <!-- Skill box for PyTorch -->
            <div class="skill-box">
              
                <img src="assets/img/skills/sql-svgrepo-com.svg" alt="SQL Logo" class="skill-logo">
                <h6>SQL</h6>
              
            </div>

            <div class="skill-box">
              <a href="https://www.mathworks.com/products/matlab.html">
              <img src="assets/img/skills/matlab-svgrepo-com.svg" alt="Matlab Logo" class="skill-logo">
              <h6>MatLab</h6>
            </a>
            </div>
        
            <!-- Skill box for PyTorch -->
            <div class="skill-box">
              <a href="https://www.r-project.org/about.html">
                <img src="assets/img/skills/Rlogo.svg" alt="R Logo" class="skill-logo">
                <h6>R</h6>
              </a>
            </div>
            
            <div class="skill-box">
              <a href="https://www.tableau.com/">
              <img src="assets/img/skills/tableau-icon-svgrepo-com.svg" alt="Tableau Logo" class="skill-logo">
              <h6>Tableau</h6>
            </a>
            </div>

            <div class="skill-box">
              <a href="https://pandas.pydata.org/">
              <img src="assets/img/skills/Pandas_mark.svg" alt="Pandas Logo" class="skill-logo">
              <h6>Pandas</h6>
            </a>
            </div>
        
            <!-- Skill box for PyTorch -->
            <div class="skill-box">
              <a href="https://numpy.org/">
                <img src="assets/img/skills/numpy-svgrepo-com.svg" alt="Numpy Logo" class="skill-logo">
                <h6>Numpy</h6>
              </a>
            </div>

            <div class="skill-box">
              <a href="https://www.docker.com/">
              <img src="assets/img/skills/docker-svgrepo-com.svg" alt="Docker Logo" class="skill-logo">
              <h6>Docker</h6>
            </a>
            </div>

            <div class="skill-box">
              <a href="https://git-scm.com/">
              <img src="assets/img/skills/git-svgrepo-com.svg" alt="Git Logo" class="skill-logo">
              <h6>Git</h6>
            </a>
            </div>
        
            <!-- Skill box for PyTorch -->
            <div class="skill-box">
              <a href="https://opencv.org/">
                <img src="assets/img/skills/opencv-svgrepo-com.svg" alt="OpenCv Logo" class="skill-logo">
                <h6>OpenCV</h6>
              </a>
            </div>

            <div class="skill-box">
              <a href="https://huggingface.co/">
              <img src="assets/img/skills/hf-logo.svg" alt="hf Logo" class="skill-logo">
              <h6>HuggingFaces</h6>
            </a>
            </div>
        
            <!-- Skill box for PyTorch -->
            <div class="skill-box">
              <a href="https://openai.com/blog/openai-api">
                <img src="assets/img/skills/openai-svgrepo-com.svg" alt="OpenAI Logo" class="skill-logo">
                <h6>Open AI</h6>
              </a>
            </div>

            <div class="skill-box">
              <a href="https://huggingface.co/">
              <img src="assets/img/skills/Jupyter_notebook_logo.svg" alt="Jupyter Notebook Logo" class="skill-logo">
              <h6>Jupyter Notebook</h6>
            </a>
            </div>
        
            <!-- Skill box for PyTorch -->
            <div class="skill-box">
              <a href="https://code.visualstudio.com/">
                <img src="assets/img/skills/vscode-svgrepo-com.svg" alt="Vs code Logo" class="skill-logo">
                <h6>VS code</h6>
              </a>
            </div>

            <div class="skill-box">
              <a href="https://scikit-learn.org/stable/">
              <img src="assets/img/skills/Scikit_learn_logo_small.svg" alt="Scikit_learn Logo" class="skill-logo">
              <h6>Scikit learn</h6>
            </a>
            </div>
        
            <!-- Skill box for PyTorch -->
            <div class="skill-box">
              <a href="https://github.com/open-mmlab">
                <img src="assets/img/skills/mmdet-logo.png" alt="mmdet Logo" class="skill-logo">
                <h6>OpenMM</h6>
              </a>
            </div>


            <div class="skill-box">
              <a href="https://anaconda.org/">
                <img src="assets/img/skills/anaconda.png" alt="conda Logo" class="skill-logo">
                <h6>Anaconda</h6>
              </a>
            </div>

            <div class="skill-box">
              <a href="https://aws.amazon.com/quicksight/">
                <img src="assets/img/skills/aws_quick_sight.png" alt="quick sight Logo" class="skill-logo">
                <h6>Quick Sight</h6>
              </a>
            </div>
            
            <div class="skill-box">
              <a href="https://aws.amazon.com/">
                <img src="assets/img/skills/aws.jpeg" alt="aws Logo" class="skill-logo">
                <h6>AWS</h6>
              </a>
            </div>

            <div class="skill-box">
              <a href="https://colab.research.google.com/">
                <img src="assets/img/skills/colab.png" alt="colab Logo" class="skill-logo">
                <h6>Colab</h6>
              </a>
            </div>

            <div class="skill-box">
              <a href="https://kubernetes.io/">
                <img src="assets/img/skills/kubernetes.svg" alt="Kubernetes Logo" class="skill-logo">
                <h6>Kubernetes</h6>
              </a>
            </div>

            <div class="skill-box">
              <a href="https://cloud.google.com/">
                <img src="assets/img/skills/google_cloud.svg" alt="Google Cloud Platform Logo" class="skill-logo">
                <h6>Google Cloud</h6>
              </a>
            </div>
            
            <div class="skill-box">
              <a href="https://mlflow.org/">
                <img src="assets/img/skills/mlflow.svg" alt="MLflow Logo" class="skill-logo">
                <h6>MLflow</h6>
              </a>
            </div>
            
            <div class="skill-box">
              <a href="https://www.jenkins.io/">
                <img src="assets/img/skills/jenkins.svg" alt="Jenkins Logo" class="skill-logo">
                <h6>Jenkins</h6>
              </a>
            </div>
            
            <div class="skill-box">
              <a href="https://www.kubeflow.org/">
                <img src="assets/img/skills/kubeflow.png" alt="Kubeflow Logo" class="skill-logo">
                <h6>Kubeflow</h6>
              </a>
            </div>
            
            <div class="skill-box">
              <a href="https://dvc.org/">
                <img src="assets/img/skills/dvc.png" alt="DVC Logo" class="skill-logo">
                <h6>Data<br>Version Control</h6>
              </a>
            </div>
            
            <div class="skill-box">
              <a href="https://github.com/">
                <img src="assets/img/skills/github.svg" alt="GitHub Logo" class="skill-logo">
                <h6>GitHub</h6>
              </a>
            </div>
            
            <div class="skill-box">
              <a href="https://redis.io/">
                <img src="assets/img/skills/redis.svg" alt="Redis Logo" class="skill-logo">
                <h6>Redis</h6>
              </a>
            </div>
            
            <div class="skill-box">
              <a href="https://grafana.com/">
                <img src="assets/img/skills/grafana.svg" alt="Grafana Logo" class="skill-logo">
                <h6>Grafana</h6>
              </a>
            </div>
            
            <div class="skill-box">
              <a href="https://prometheus.io/">
                <img src="assets/img/skills/prometheus.svg" alt="Prometheus Logo" class="skill-logo">
                <h6>Prometheus</h6>
              </a>
            </div>

            <!-- Skill box for Python -->
            <!-- <div class="skill-box">
              <i class="fab fa-python fa-3x"></i>
              <h3>Python</h3>
            </div>-->
          
            <!-- Skill box for PyTorch -->
            <!-- <div class="skill-box">
              <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="skill-icon">
                <title>PyTorch</title>
                <path d="M12.005 0L4.952 7.053a9.865 9.865 0 000 14.022 9.866 9.866 0 0014.022 0c3.984-3.9 3.986-10.205.085-14.023l-1.744 1.743c2.904 2.905 2.904 7.634 0 10.538s-7.634 2.904-10.538 0-2.904-7.634 0-10.538l4.647-4.646.582-.665zm3.568 3.899a1.327 1.327 0 00-1.327 1.327 1.327 1.327 0 001.327 1.328A1.327 1.327 0 0016.9 5.226 1.327 1.327 0 0015.573 3.9z"/>
              </svg>
              <h3>PyTorch</h3>
            </div> -->
          
            <!-- Add more skill boxes for other skills -->
          
          </div>
        
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const helloText = document.getElementById("hello-text");
      const languages = [
        "ನಮಸ್ಕಾರ!",  // Kannada
        "Hola!",       // Spanish
        "Bonjour!",    // French
        "こんにちは!",  // Japanese
        "வணக்கம்",     // Tamil
        "Hallo!",      // German
        "你好!",        // Chinese
        "안녕하세요!",  // Korean
        "Ciao!",       // Italian
        "Olá!",        // Portuguese
        "Привет!"      // Russian
      ];
  
      let index = 0;
      const totalDuration = 2000; // Total duration for all transitions (3 seconds)
      const intervalTime = totalDuration / languages.length; // Calculate time per transition
  
      // Rotate through languages every calculated interval
      const intervalId = setInterval(() => {
        helloText.textContent = languages[index]; // Update text content
        index = (index + 1) % languages.length;   // Cycle through languages
      }, intervalTime);
  
      // Hide loader after 3 seconds
      setTimeout(() => {
        clearInterval(intervalId); // Stop the language rotation
        const loader = document.getElementById("loader");
        loader.style.opacity = "0"; // Fade out effect
        setTimeout(() => {
          loader.style.display = "none"; // Remove loader after fade-out
        }, 500); // Matches the CSS transition duration
      }, totalDuration); // 3 seconds
    });
  </script>
  
  
  
  